* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Suisse Intl', 'Roboto', sans-serif;
}

.wrap_body {
    padding-left: 145px;
}

.d-flex {
    display: flex;
}

.header_top {
    height: 100px;
}

.align_items_center {
    align-items: center;
}

.header_top__grid {
    /*column-gap: 141px;*/
    grid-column-gap: 141px;
}

.header_menu__nav {
    grid-column-gap: 22px;
}

.header_menu__buttons {
    margin-left: 27px;
    grid-column-gap: 18px;
}

.header_menu__nav__item a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    transition: color 800ms, background 500ms;
}

.header_menu__nav__item a:hover {
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
    padding: 5px 25px;
    border-radius: 100px;
    position: inherit;
}

.header_menu__button__login {
    color: #000000;
    border: 1px solid #000000;
}

.header_menu__button__expert {
    color: #FFFFFF;
    background: #000000;
}
.header_menu__button__expert:hover, .button_talk__to__us button:hover {
    color: #000000;
    background: #ffffff;
}
.header_menu__button__login:hover {
    color: #ffffff;
    background: #000000;
}

.header_menu__button__login, .header_menu__button__expert, .button_talk__to__us button {
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background 500ms, color 500ms;
}

.first_screen {
    position: relative;
}

.first_screen__left {
    max-width: 490px;
    padding-top: 92px;
}

.first_screen__grid {
    column-gap: 50px;
    border-bottom: 1px solid #EAEEF2;
}

.first_screen__grid h1 {
    font-weight: bold;
    line-height: 83px;
    font-size: 77px;
    color: #000000;
    margin-bottom: 27px;
}

.first_screen__grid p {
    font-size: 20px;
    line-height: 31px;
    color: #000000;
}

.button_talk__to__us button {
    font-size: 22px;
    background-color: #000000;
    color: #ffffff;
    line-height: 25px;
    padding: 18px 30px;
    margin-top: 27px;
}
.button_talk__to__us h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.button_talk__to__us {
    width: 215px;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    bottom: -30px;
    left: -7px;
}

.mobile_menu__button {
    display: none;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
}

.mobile_menu__button span {
    height: 5px;
    width: 80%;
    background: red;
    display: block;
    position: relative;
    cursor: pointer;
}

.mobile_menu__button span::before, .mobile_menu__button span::after {
    content: '';
    width: 100%;
    height: 100%;
    background: red;
    display: block;
    position: absolute;
}

.mobile_menu__button span::before {
    top: -10px;
}

.mobile_menu__button span::after {
    bottom: -10px;
}


/* контейнер <div> - необходим для размещения выпадающего содержимого */
/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 220px;
    margin-right: 160px;
    font-size: 32px;
    color: #000000;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {
    color: #ffffff;
    background: #000000;
}

/* Показать выпадающее меню при наведении */
.mobile_menu__button:hover .dropdown-content {
    display: block;
}

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.mobile_menu__button:hover, .mobile_menu__button span:hover {
    background-color: #3e8e41;
}

.second_screen__grid {
    grid-column-gap: 104px;
}

.second_screen__left {
    margin-top: 243px;
}

.second_screen__right h2 {
    font-weight: bold;
    font-size: 57px;
    line-height: 58px;
    color: #000000;
    margin-top: 211px;
    margin-bottom: 33px;
    max-width: 443px;
}

.second_screen__right p {
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    max-width: 515px;
}

.third_screen__why__switch h2 {
    margin-top: 276px;
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
}

.fourth_screen__grid, .fifth_screen__grid {
    grid-column-gap: 71px;
    margin-top: 82px;
}

.fourth_screen__grid h4, .fifth_screen__grid h4 {
    top: 24px;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}

.fourth_screen__grid p, .fifth_screen__grid p {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 10px;
}

.fourth_screen__left, .fourth_screen__center, .fifth_screen__left, .fifth_screen__center,
.fifth_screen__right {
    max-width: 295px;
}

.fourth_screen__right p {
    max-width: 272px;
}

.button_discover__what__we__do {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 12px 30px;
    margin-top: 71px;
    margin-bottom: 126px;
    background: #F7B2B7;
    border-radius: 100px;
    cursor: pointer;
    transition: background 500ms, color 500ms;
}
.button_discover__what__we__do:hover {
    background: #8BD4D6;
    color: #ffffff;
}

* .fifth_screen {
    background: #FDECED;
    width: 1900px;
    height: 705px;
    margin-left: -145px;
}

.fifth_screen__plans {
    position: absolute;
    font-size: 58px;
    line-height: 58px;
    margin-left: 145px;
    margin-top: 88px;
    color: #000000;
}

.fifth_screen__grid {
    position: absolute;
    margin-left: 145px;
    margin-top: 228px;
}

.fifth_screen__left {
    margin-bottom: 89px;
}

.sixth_screen__grid {
    grid-column-gap: 138px;
}

.sixth_screen__left p {
    font-size: 27px;
    line-height: 36px;
    color: #000000;
    max-width: 240px;
    margin-top: 129px;
}

.sixth_screen__right img {
    margin-top: 129px;
}

.seven_screen__grid {
 grid-column-gap: 120px;
}

.seven_screen__left h3{
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
    margin-top: 191px;
}

.seven_screen__left p {
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    max-width: 547px;
    margin-top: 40px;
}

.seven_screen__left button {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-weight: bold;
    padding: 12px 30px;
    background: #F7B2B7;
    border-radius: 100px;
    margin-top: 79px;
    cursor: pointer;
    transition: background 500ms, color 500ms;
}

.seven_screen__left button:hover {
    background: #8BD4D6;
    color: #ffffff;
}

.seven_screen__right img {
    margin: 203px 0 186px 0;
}

.eight_screen__grid {
    background: #8BD4D6;
    border-radius: 10px;
    width: 1150px;
    grid-column-gap: 196px;
}

.eight_screen__left h3 {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #000000;
    margin: 89px 0 0 90px;
}

.eight_screen__left p {
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    margin: 18px 0 89px 90px;
}

.eight_screen__right button {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12px 30px;
    background: #000000;
    border-radius: 100px;
    margin: 117px 90px 117px 0;
    cursor: pointer;
    transition: background 500ms, color 500ms;
}

.eight_screen__right button:hover {
    color: #000000;
    background: #ffffff;
}

.footer_bottom {
    background: #302E3F;
    width: 1900px;
    margin-left: -145px;
    color: #FFFFFF;
    /*padding-bottom: 50px;*/
}

.footer_bottom__margin {
    margin-left: 145px;
}

.footer_bottom__grid__one {
    grid-column-gap: 72px;
}

.footer_bottom__logo__grid img {
    margin-top: 45px;
}

.footer_bottom__one__details {
    margin-top: 50px;
}

.footer_bottom__two {
    margin-top: 81px;
}

.footer_bottom__last__policy__block {
    grid-column-gap: 27px;
    margin-bottom: 45px;
    margin-top: 62px;
    align-items: flex-end;
}

.footer_bottom__acca {
    margin-left: 520px;
    margin-top: 62px;
    margin-bottom: 50px;
}

.footer_bottom__logo__grid p {
    font-size: 28px;
    line-height: 36px;
    margin: 55px 18px;
}

.footer_bottom__one__details h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}

.footer_bottom__one__details a, .footer_bottom__two a {
    font-size: 16px;
    line-height: 16px;
    color: #C5E9EA;
    text-decoration: none;
    transition: color 800ms, background 500ms;
}

.footer_bottom__one__details a:hover, .footer_bottom__two a:hover {
    color: #000000;
}



